 <div>
  
 </div>

 <nav>
  <ul id="menu">
    <li><a href="index.html" class="menu-item">Main</a></li>
    <li><div class="dropdown">
      <button class="dropbtn">Matches</button>
      <div class="dropdown-content">
        <a href="#">Calendar of matches</a>
        <a href="#">Next game</a>
        <a href="#">Ratings</a>
      </div>
    </div>
    <li><a href="news.html" class="menu-item">News</a></li>
    <li><a href="#" class="menu-item">Fans</a></li>
    <li><a href="#" class="menu-item">Contacts</a></li>
    <li><a href="#" class="menu-item">Admin</a></li>

    <a href="#">
      <img src="images/logo/logo.svg" alt="LOGO" class="logo">
    </a>
  </ul>
</nav>
